.bg-img {
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:auto;
    padding:5%;
}
#para{
    margin:0;
    padding:0;
}
.nav-item{
    color:white;
}
select { 
    -moz-appearance: none;  
    -webkit-appearance: none; 
  } 

  
select::-ms-expand { 
    display: none; 
  } 